<section class="">
  <mat-toolbar color="primary">
    <div class="header-container container">

      <div routerLink="/createnewtask">
        create new task
      </div>

      <div>
        <mat-toolbar-row>
          <mat-icon routerLink="/" aria-hidden="false" aria-label="Example heart icon" class="example-icon">favorite
          </mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example delete icon" class="example-icon">delete</mat-icon>
        </mat-toolbar-row>
      </div>
    </div>
  </mat-toolbar>
</section>
