<div class="container">


  <div class="mt-40">
    <div class="content_fromTask">
      <mat-form-field
        [formGroup]="newTaskFrom"
        (ngSubmit)="enviar()"
        appearance="outline"
      >
        <mat-label>name task</mat-label>
        <input
          id="name"
          type="text"
          formControlName="nameTask"
          matInput
          placeholder="Placeholder"
        />
      </mat-form-field>

      <button
        class="btnSave"
        mat-stroked-button
        color="primary"
        type="submit"
        (click)="enviar()"
        [disabled]="!newTaskFrom.valid"
      >
        SAVE
      </button>
    </div>


    <div class="content_listTodo"
         *ngFor="let tasks of listTask"
    >
      <div>
        {{tasks.name}}
      </div>
      <button class="btnDelete"
              mat-stroked-button
              color="accent"
      >
        delete
      </button>
    </div>

  </div>
</div>


