

.mt-40 {
  margin-top: 40px;
}

.btnDelete {
  padding: 1.5rem;
}
.btnSave {
  padding: 1.5rem;
}


.space-between {

}
.content_listTodo {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
